.home{
    padding-top: 5px;
    padding-left: 300px;
    background-image: url("../../assets/thomas.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-btn{
    border-radius: 25px;
    color:rgb(190, 209, 209) !important;
    font-weight: bold;
}